@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 238, 143));
    }

nav {
width: 100vw;
height: 10vh;
display: flex; 
align-items: center;
justify-content: center;
font-size: 2rem;
margin-bottom: 5vh;
}

nav h1 {
    font-family: 'Architects Daughter', cursive;
}

#score-life {
    width: 15vw;
    height: 20vh;
    margin: 4vh;
    background-color:rgba(255, 255, 255, 0.7);
    border: solid 2px black;
    box-shadow: 5px 10px 15px rgb(0, 0, 0);
}

#score-life span {
    border-left: none;
    font-size: 1.5rem;
}

#score {
    font-size: 2rem;
    width: 5vw;
}

.position-right {
    float: right;
    padding: 5px;
}

#todo-box {
    
    min-height: 300px;
    width: 40%;
    margin: 0 auto;
}

#todo-box div {
    
    width: 80%;
    min-height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(67, 110, 250), rgb(152, 152, 255));
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

#todo-box div input{
    
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    margin: 5px;


}

#todo-box div button{
    
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Alegreya SC', serif;
    transition-duration: 0.5s;
    margin: 5px;
    background-color:rgb(254, 255, 240);
    

}

#todo-box div button:active {
    background-color:rgb(143, 143, 143);  
    transition-duration: 0.1s;
}

#todo-box div button:hover {
    cursor: pointer;
    transform:scale(1.05);
}

#add-button {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    
}

#add-button span {
    border-left: none;
    font-size: 1rem;
    

}

#tasks {
    display: flex;
    flex-direction: column;
}

#tasks div {
    width: 100%;
    padding: 5px;
}

span {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    width: 80%;
    padding: 5px;
    border-left: solid 5px rgba(247, 248, 248, 0.9);
    overflow: hidden;
    cursor: pointer;
}

.accomplished {
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.3);
}



#add-button ion-icon {
    color: rgb(6, 175, 63);
    font-size: 2rem;

}


ion-icon {
    color: rgb(6, 175, 63);

}


